.user-avatar{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
}
.user-avatar img{
    width: 100%;
}
.content div{
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: 0 15px;
      border-bottom: 1px solid #e9e9e9;
}